.container {
  width: 70%;
  font-size: 16px;
}

.info-container {
  border: solid 2px gray;
  border-radius: 5px;
}

.title{
   color: #636363;
   font-size: 25px;
}

md-icon{
      color: #636363;
}

.activity-text, .sub-title {
  font-size: 22px;
  text-align: justify;
  padding: 20px;
}

.comments-title {
  margin: 30px 0;
}