<h1>Calorie calculator</h1>
<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Age years" #age>
  </md-input-container>
  <md-select placeholder="Gender" [(ngModel)]="selectedValue" name="selectedValue">
    <md-option *ngFor="let gen of gender" [value]="gen.value">
      {{ gen.viewValue }}
    </md-option>
  </md-select>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Weight kg" #weight>
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Height cm" #height>
  </md-input-container>
  <md-select placeholder="Activeness" required>
  <md-option *ngFor="let activ of activeness" [value]="activ">
    {{activ}}
  </md-option>
</md-select>
  <button (click)="calculate(age.value, selectedValue, weight.value, height.value)">Calculate</button>
</form>
<div>{{result}}</div>