<div class="sort-control">
    <button (click)=orderByDateAsc() md-raised-button>Sort by date Ascending</button>
    <button (click)=orderByDateDesc() md-raised-button>Sort by date Descending</button>
    <button (click)=orderByTitleAsc() md-raised-button>Sort by title Ascending</button>
    <button (click)=orderByTitleDesc() md-raised-button>Sort by title Descending</button>
</div>
<div *ngFor="let recipe of recipes" class="recipe-container">
     <div><a routerLink='/recipes/{{recipe.id}}'><img src="{{recipe.image}}" alt="recipe-image"></a></div>
    <div class='title'><a routerLink='/recipes/{{recipe.id}}'>{{recipe.title}}</a></div>
    <div class='createdOn'>{{recipe.createdOn | date}}</div>   
</div>
