.recipe-container {
      margin: 50px 0;
      border: solid 2px #636363;
      border-radius: 5px;
      overflow: hidden;
      font-size: 18px;
      width: 60%;
    }
button{
      font-size: 14px;
      border-radius: 5px; 
      margin-right: 10px;
}
md-icon{
      color: #636363;
}
a{
      text-decoration: none;
      cursor: pointer;
      color: #636363;
}
a:hover{
      text-decoration: underline;
}

.container{
      padding: 0 100px;
}

input[type=text]{
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
}

.subnav{
      text-align: right;
      clear: both;	
}