<div class="sort-control">
    <button (click)=orderByDateAsc() md-raised-button>Sort by date Ascending</button>
    <button (click)=orderByDateDesc() md-raised-button>Sort by date Descending</button>
    <button (click)=orderByTitleAsc() md-raised-button>Sort by title Ascending</button>
    <button (click)=orderByTitleDesc() md-raised-button>Sort by title Descending</button>
</div>
<md-card *ngFor="let recipe of recipes" class="recipe-container">
    <img md-card-image src="{{recipe.image}}" alt="recipe-image">
    <md-card-content>
        <h3><a routerLink="/recipes/{{recipe.id}}">{{recipe.title}}</a></h3>
        <p class="createdOn">
            <span>{{recipe.createdOn | date}}</span>
        </p>
        <p>
            <span>{{recipe.description}}</span>
        </p>
    </md-card-content>
    <md-card-actions>
        <button md-button>
        <md-icon>thumb_up</md-icon>
        Like
    </button>
        <button md-button>
         <md-icon>favorite</md-icon>
        Add to Favorites
    </button>
    </md-card-actions>
</md-card>