<div class="container">
    <div class="subnav">
        <button md-button [mdMenuTriggerFor]="byTitle">
            <md-icon>sort</md-icon>
            Order by Title
        </button>
        <md-menu #byTitle="mdMenu">
            <button md-menu-item (click)="orderBy('title', -1)">
                    <md-icon>arrow_upward</md-icon>
                      <span>Order Ascending</span>
                    </button>
            <button md-menu-item (click)="orderBy('title', 1)">
                    <md-icon>arrow_downward</md-icon>
                    <span>Order Descending</span>
            </button>
        </md-menu>
        <button md-button [mdMenuTriggerFor]="byDate">
            <md-icon>sort</md-icon>
            Order by Date
        </button>
        <md-menu #byDate="mdMenu">
            <button md-menu-item (click)="orderBy('createdOn', -1)">
                      <md-icon>arrow_upward</md-icon>
                      <span>Order Ascending</span>
                    </button>
            <button md-menu-item (click)="orderBy('createdOn', 1)">
                      <md-icon>arrow_downward</md-icon>
                      <span>Order Descending</span>
                    </button>
        </md-menu>
        <button md-button [mdMenuTriggerFor]="create">
                <md-icon>add</md-icon>
                Create
        </button>
        <md-menu #create="mdMenu">
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/recipes/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Recipe</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/activities/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Activity</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/workouts/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Workout</span>
            </button>
        </md-menu>
        <input mdInput type="text" placeholder="Search for..." [mdAutocomplete]="auto" [formControl]="categoryCtrl" [(ngModel)]="searchWord"
            class="form-control">
        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{ category }}
            </md-option>
        </md-autocomplete>
    </div>
    <md-card *ngFor="let recipe of (recipes | sort:order:path | search:searchWord)" class="recipe-container">
        <img appZoomImage md-card-image src="{{recipe.image}}" alt="recipe-image">
        <md-card-content>
            <h3><a routerLink="/recipes/{{recipe.$key}}">{{recipe.title}}</a></h3>
            <p class="createdOn">
                <span>{{recipe.createdOn | date}}</span>
            </p>
            <rating [(ngModel)]="starsCount" [max]="10" [float]="true" [readonly]="true"></rating>
            <p>
                <span><em>{{recipe.description}}</em></span>
            </p>
        </md-card-content>
        <md-card-actions *ngIf="isAuthenticated()">
            <button md-button>
                <md-icon>star_rate</md-icon>
                Like
            </button>
            <button md-button>
                <md-icon>favorite</md-icon>
                Add to Favorites
            </button>
            <button md-button>
                <md-icon>share</md-icon>
                Share
            </button>
        </md-card-actions>
    </md-card>
</div>

