<div class="subnav">
        <a md-button routerLink="/recipes">
                <md-icon>menu</md-icon>
                Back to Recipes
        </a>
        <button md-button [mdMenuTriggerFor]="create" class="create">
                <md-icon>add</md-icon>
                Create New
        </button>
        <md-menu #create="mdMenu">
                <button md-menu-item *ngIf="isAuthenticated()" routerLink="/recipes/create">
                        <md-icon>add_circle_outline</md-icon>
                        <span>Create Recipe</span>
                </button>
                <button md-menu-item *ngIf="isAuthenticated()" routerLink=".">
                        <md-icon>add_circle_outline</md-icon>
                        <span>Create Activity</span>
                </button>
        </md-menu>
</div>
<div class="container">
        <md-card class="info-container">
                <img md-card-image src="{{recipe?.image}}" alt="recipe-image">
                <md-card-content>
                        <p class="title">{{recipe?.title}}</p>
                        <p>by {{recipe?.author}} <strong>|</strong> on {{recipe?.createdOn | date}}</p>
                        <p>category {{recipe?.category}}</p>
                        <p><em>{{recipe?.description}}</em></p>
                </md-card-content>
                <md-card-actions *ngIf="isAuthenticated()">
                        <button md-button>
                                <md-icon>star_rate</md-icon>
                                Like
                        </button>
                        <button md-button>
                                <md-icon>favorite</md-icon>
                                Add to Favorites
                        </button>
                        <button md-button>
                                <md-icon>share</md-icon>
                                Share
                        </button>
                        <button *ngIf=isAuthor(recipe?.userId) md-button routerLink="/recipes/{{recipe?.$key}}/edit">
                                <md-icon>mode_edit</md-icon>
                                Edit
                        </button>
                        <button *ngIf=isAuthor(recipe?.userId) md-button>
                                <md-icon>delete</md-icon>
                                Delete
                        </button>
                </md-card-actions>
        </md-card>
        <div class="additional-info">
                <h3 class="ingredients-title">Ingredients</h3>
                <ul *ngFor="let ingredient of recipe?.ingradients">
                        <li>{{ingredient}}</li>
                </ul>
                <hr/>
                <h3 class="steps-title">How to Make it</h3>
                <p><strong>Step 1</strong></p>
                <p>{{recipe?.step1}}</p>
                <p *ngIf="recipe?.step2"><strong>Step 2</strong></p>
                <p>{{recipe?.step2}}</p>
                <p *ngIf="recipe?.step3"><strong>Step 3</strong></p>
                <p>{{recipe?.step3}}</p>
        </div>
        <div class="comments">
                <h3 class="comments-title">Comments</h3>
                <div *ngIf="recipe?.comments">
                        <div *ngFor="let comment of recipe?.comments">
                                <md-card class="comments-container">
                                        <md-card-header>
                                                <img md-card-avatar src="{{comment.profileImage.url}}">
                                                <md-card-title>{{comment.username}}</md-card-title>
                                                <md-card-subtitle>on {{comment.date | date}}</md-card-subtitle>
                                        </md-card-header>
                                        <md-card-content>
                                                <p>
                                                       {{comment.textComment}}
                                                </p>
                                        </md-card-content>
                                </md-card>
                        </div>
                </div>
                <div *ngIf="!recipe?.comments">
                        <p> No Comments yet</p>
                </div>
        </div>
        <app-comments></app-comments>
</div>