.container {
  font-size: 18px;
  padding: 20px 100px;
}

.info-container{
  border-radius: 5px;
  border: solid 2px gray;
  width: 60%;
  margin: 50px 0;
}

.aside-info{
  font-size: 16px;
}

.title{
   color: #636363;
   font-size: 16px;
   font-weight: bold;
}

md-icon{
      color: #636363;
}

.ingredients-title, .comments-title{
  margin: 30px 0;
}

.subnav{
  text-align: right;
  clear: both;	
}
.create{
  width: 15%;
  text-align: center;
}

md-card-content{
  margin-top: 25px; 
}

md-card-content p{
  margin-top: 25px;
}