<div class="container">
        <div class="subnav">
                <button md-button [mdMenuTriggerFor]="create">
                                        <md-icon>add</md-icon>
                                        Create
                                </button>
                <md-menu #create="mdMenu">
                        <button md-menu-item *ngIf="isAuthenticated()" routerLink="/recipes/create">
                                <md-icon>add_circle_outline</md-icon>
                                <span>Create Recipe</span>
                        </button>
                        <button md-menu-item *ngIf="isAuthenticated()" routerLink=".">
                                <md-icon>add_circle_outline</md-icon>
                                <span>Create Activity</span>
                        </button>
                </md-menu>
                <input type="text" name="search-title" placeholder="Search for Title">
                <input type="text" name="search-author" placeholder="Search for Author">
                <button md-raised-button class="button-search">Search</button>
        </div>
        <md-card class="info-container">
                <img md-card-image src="{{recipe?.image}}" alt="recipe-image">
                <md-card-content>
                        <p class="title">{{recipe?.title}}</p>
                        <p>by {{recipe?.author}} <strong>|</strong> on {{recipe?.createdOn | date}}</p>
                        <p>category {{recipe?.category}}</p>
                        <p><em>{{recipe?.description}}</em></p>
                </md-card-content>
                <md-card-actions>
                        <button md-button>
                                <md-icon>star_rate</md-icon>
                                Like
                        </button>
                        <button md-button>
                                <md-icon>favorite</md-icon>
                                Add to Favorites
                        </button>
                        <button md-button>
                                <md-icon>mode_edit</md-icon>
                                Edit
                        </button>
                </md-card-actions>
        </md-card>
        <h3 class="ingredients-title">Ingredients</h3>
        <ul *ngFor="let ingredient of recipe?.ingradients">
                <li>{{ingredient}}</li>
        </ul>
        <hr />
        <h3 class="steps-title">How to Make it</h3>
        <p><strong>Step 1</strong></p>
        <p>{{recipe?.step1}}</p>
        <p *ngIf="recipe?.step2"><strong>Step 2</strong></p>
        <p>{{recipe?.step2}}</p>
        <p *ngIf="recipe?.step3"><strong>Step 3</strong></p>
        <p>{{recipe?.step3}}</p>
        <hr />
        <h3 class="comments-title">Comments</h3>
        <div *ngIf="recipe?.comments">
                <div *ngFor="let comment of recipe?.comments">
                        <p>{{comment}}</p>
                </div>
        </div>
        <div *ngIf="!recipe?.comments">
                <div> No Comments yet</div>
        </div>
</div>