<div class="container">
        <md-card *ngIf="recipe" class="info-container">
                <img md-card-image src="/assets/images/salsa.jpg" alt="recipe-image">
                <md-card-content>
                        <p class="title">{{recipe.title}}</p>
                        <p>by {{recipe.author}} <strong>|</strong> on {{recipe.createdOn | date}}</p>
                        <p>category {{recipe.category}}</p>
                        <p><em>{{recipe.description}}</em></p>
                </md-card-content>
                <md-card-actions>
                        <button md-button>
                                <md-icon>star_rate</md-icon>
                                Like
                        </button>
                        <button md-button>
                                <md-icon>favorite</md-icon>
                                Add to Favorites
                        </button>
                        <button md-button>
                                <md-icon>mode_edit</md-icon>
                                Edit
                        </button>
                </md-card-actions>
        </md-card>
        <h3 class="ingredients-title">Ingredients</h3>
        <ul *ngFor="let ingredient of recipe?.ingredients">
                <li>{{ingredient}}</li>
        </ul>
        <hr />
        <h3 class="steps-title">How to Make it</h3>
        <p><strong>Step 1</strong></p>
        <p>{{recipe?.steps.step1}}</p>
        <p *ngIf="recipe?.steps.step2"><strong>Step 2</strong></p>
        <p>{{recipe?.steps.step2}}</p>
        <p *ngIf="recipe?.steps.step3"><strong>Step 3</strong></p>
        <p>{{recipe?.steps.step3}}</p>
        <hr />
        <h3 class="comments-title">Comments</h3>
        <div *ngIf="recipe?.comments">
                <div *ngFor="let comment of recipe?.comments">
                        <p>{{comment}}</p>
                </div>
        </div>
        <div *ngIf="!recipe?.comments">
                <div> No Comments yet</div>
        </div>
</div>