<div class="content">
  <div class="week">
    <div class="day">
        <p>Day</p>
        <p>Workout Name</p>
    </div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  </div>
  <div class="week">
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  </div>
  <div class="week">
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  </div>
  <div class="week">
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  <button class="day" (click)="addDay(scroller)">
    Add
  </button>
  </div>
</div>

<div class="form-container" [ngClass]="{'hidden': add==false}" #scroller>
  <form class="workout-form">
  <md-select placeholder="Choose Routine" name="workout" [(ngModel)]="workout" required>
    <md-option *ngFor="let workout of workouts" [value]="workout">
      {{workout.title}}
    </md-option>
  </md-select>
</form>
  <app-create-workout></app-create-workout>
</div>