<div class="content">
  <div class="week">
    <div class="day">
        <p>Day</p>
        <p>Workout Name</p>
    </div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  </div>
  <div class="week">
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  </div>
  <div class="week">
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  </div>
  <div class="week">
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
    <div class="day">Day</div>
  <button class="day" (click)="getAddForm(scroller)">
    Add
  </button>
  </div>
</div>

<div class="form-container" [ngClass]="{'hidden': add==false}" #scroller>
  <form class="workout-form" (ngSubmit)="addWorkout()">
  <md-select placeholder="Choose Routine" name="workout" [(ngModel)]="workout" required>
    <md-option *ngFor="let workout of workouts" [value]="workout.$key">
      {{workout.title}}
    </md-option>
  </md-select>
  <button type="submit" class="success" md-raised-button>Add</button>
</form>
  <app-create-workout (onCreate)="addNewWorkout($event)"></app-create-workout>
</div>