<div class="container">
    <div class="subnav">
        <button md-button [mdMenuTriggerFor]="byTitle">
            Order by Title
        </button>
        <md-menu #byTitle="mdMenu">
            <button md-menu-item (click)="orderBy('title', -1)">
                    <md-icon>arrow_upward</md-icon>
                      <span>Order Ascending</span>
                    </button>
            <button md-menu-item (click)="orderBy('title', 1)">
                    <md-icon>arrow_downward</md-icon>
                    <span>Order Descending</span>
            </button>
        </md-menu>
        <button md-button [mdMenuTriggerFor]="byDate">
            Order by Date
        </button>
        <md-menu #byDate="mdMenu">
            <button md-menu-item (click)="orderBy('createdOn', -1)">
                      <md-icon>arrow_upward</md-icon>
                      <span>Order Ascending</span>
                    </button>
            <button md-menu-item (click)="orderBy('createdOn', 1)">
                      <md-icon>arrow_downward</md-icon>
                      <span>Order Descending</span>
                    </button>
        </md-menu>
        <button md-button [mdMenuTriggerFor]="create">
                Create
        </button>
        <md-menu #create="mdMenu">
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/recipes/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Recipe</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/activities/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Activity</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/nutrition/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Article</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/workouts/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Workout</span>
            </button>
        </md-menu>
        <input type="text" 
        placeholder="Search for..."
        [mdAutocomplete]="auto"
        [formControl]="categoryCtrl"
        [(ngModel)]="searchWord"
        class="form-control">
        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{ category }}
            </md-option>
        </md-autocomplete>
    </div>
    <div class="wrapper">
        <div class="content-container">
            <md-card *ngFor="let recipe of (recipes | sort:order:path | search:searchWord)" class="recipe-container">
                <a routerLink="/recipes/{{recipe.$key}}"><img appZoomImage md-card-image src="{{recipe.image}}" alt="recipe-image"></a>
                <md-card-content>
                    <h3><a routerLink="/recipes/{{recipe.$key}}">{{recipe.title}}</a></h3>
                    <p class="createdOn">
                        <span>{{recipe.createdOn | date}}</span>
                    </p>
                    <rating [(ngModel)]="recipe.likes" [max]="10" [float]="true" [readonly]="true"></rating>
                    <p>
                        <span><em>{{recipe.description}}</em></span>
                    </p>
                </md-card-content>
            </md-card>
        </div>
        <app-calorie-calculator></app-calorie-calculator>
    </div>
</div>