<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
<div class="home-container">
     <h1>Welcome to <p>HEALTHY LIFESTYLE</p></h1>
      <!-- <img src="/assets/images/healthy-lifestyle-home.jpg" alt=""> -->
      <h1>Here you can find</h1>
      <div class="details">
          <div class="item">
              <h2>The best food recipes and tips</h2>
              <img src="../../../assets/images/food.jpeg" alt="">
          </div>
          <div class="item">
              <h2>Fun and relaxing outdoor activities</h2>
              <img src="../../../assets/images/Outdoor-activitiesimage.gif" alt="">
          </div>
          <div class="item">
              <h2>Many complex fitness programs</h2>
              <img src="../../../assets/images/fitness.jpg" alt="">
          </div>
      </div>
</div>