<div class="container">
  <div class="content-container">
    <div class="meal-container">
      <h2>Ideas About Healthy Meal</h2>
      <img src="/assets/images/plan-food.jpg" alt="food-image" class="main-img">
      <button md-raised-button>Post Meal</button>
      <!-- <div *ngFor="let m of meal">
        <p>{{m.name}}</p>
      </div> -->
    </div>
    <div class="article-container">
      <h2>Short Articles About Healthy Eating</h2>
      <button md-raised-button>Post Article</button>
      <!-- <div *ngFor="let fact of article">
        <img src="{{fact.image}}" alt="">
      </div> -->
    </div>
  </div>
  <app-calorie-calculator></app-calorie-calculator>
</div>