<div class="container">
  <div class="content-container">
    <div class="meal-container">
      <!-- <h2>Ideas About Healthy Meal</h2> -->
      <h2>Short Articles About Healthy Eating</h2>
      <img src="/assets/images/plan-food.jpg" alt="food-image" class="main-img">
      <!-- <button md-raised-button>Post Meal</button> -->
      <!-- <div *ngFor="let m of meal">
        <p>{{m.name}}</p>
      </div> -->
    </div>
    <div class="article-container">
      <button md-raised-button routerLink="/nutrition/create">Post Article</button>
      <table class="article-content">
      <div *ngFor="let article of articles">
          <tr>
            <td class="article-image"><img src="{{article.image.url}}" alt="image"></td>
            <td class="article-info">
                <p class="title">{{article.title}}</p>
                <p class="date"><em>published on {{article.createdOn | date}}</em></p>
                <p class="description">{{article.description}}</p>
            </td>
          </tr>
      </div>
    </table>
    </div>
  </div>
  <app-calorie-calculator></app-calorie-calculator>
</div>
