.recipe-form{
    padding: 20px 100px;
    color: #3D3838;
  }
  
h2 {
    padding:0 100px;
    color: #3D3838;
  }

  .form-control {
    width: 100%;
    font-size: 1.4em;
  }

  button{
    color: #000;
  }

  div{
    padding-bottom: 20px;
  }

  md-input-container{
    margin-bottom: 20px;
  }
