<div class="container">
    <div class="subnav">
        <app-sort [items]="activities" (onSendingItems)="dataReceived($event)"></app-sort>
        <button md-button [mdMenuTriggerFor]="create">
                Create
        </button>
        <md-menu #create="mdMenu">
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/recipes/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Recipe</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/activities/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Activity</span>
            </button>
            <button md-menu-item *ngIf="isAuthenticated()" routerLink="/workouts/create">
                <md-icon>add_circle_outline</md-icon>
                <span>Create Workout</span>
            </button>
        </md-menu>
        <input mdInput type="text" placeholder="Search by category" [mdAutocomplete]="auto" [formControl]="categoryCtrl" [(ngModel)]="searchWord"
            class="form-control">
        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{ category }}
            </md-option>
        </md-autocomplete>
    </div>

    <button md-fab color="primary" (click)="openDialog()"><md-icon>place</md-icon></button>

    <!-- <div class="map-container">
            <agm-map class="map" [zoom]="7" [latitude]="42.5" [longitude]="25.50">
                <agm-marker *ngFor="let marker of locationMarkers" [latitude]="marker.lat" [longitude]="marker.lng">
                    <agm-info-window>
                        <a routerLink="/activities/{{marker.id}}">
                            <img class="map-image" [src]="marker.imageUrl"> {{marker.title}}</a>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div> -->

    <div class="activities-container">
        <div *ngFor="let activity of activities">
            <app-activity [activity]=activity [activityId]=activity.$key></app-activity>
        </div>
    </div>
</div>