<h3 md-dialog-title><i>Use markers to navigate to selected activity</i></h3>
<md-dialog-content class="map-container">
  <div class="map-container">
    <agm-map class="map" [zoom]="7" [latitude]="42.5" [longitude]="25.50">
      <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng">
        <agm-info-window>
          <a (click)="close()" routerLink="/activities/{{marker.id}}">
                              <img class="map-image" [src]="marker.imageUrl"> {{marker.title}}</a>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</md-dialog-content>