<div class="sort-control">
  <button (click)="orderByDateAsc()" md-raised-button>Sort by date Ascending</button>
  <button (click)="orderByDateDesc()" md-raised-button>Sort by date Descending</button>
  <button (click)="orderByTitleAsc()" md-raised-button>Sort by title Ascending</button>
  <button (click)="orderByTitleDesc()" md-raised-button>Sort by title Descending</button>
  <button *ngIf="isAuthenticated()" routerLink="recipes/create" routerLinkActive="active" md-raised-button>
          Create Recipe
  </button>
  <button *ngIf="isAuthenticated()" md-raised-button>Create Activity</button>
  <button  md-raised-button>Search</button>
</div>