<div class="subnav">
  <button md-raised-button [mdMenuTriggerFor]="byTitle">
      <md-icon>sort</md-icon>
      Sort by Title
  </button>
  <md-menu #byTitle="mdMenu">
      <button md-menu-item (click)="orderByTitleDesc()">
        <md-icon>arrow_upward</md-icon>
        <span>Sort Ascending</span>
      </button>
      <button md-menu-item (click)="orderByTitleAsc()">
        <md-icon>arrow_downward</md-icon>
        <span>Sort Descending</span>
      </button>
  </md-menu>
  <button md-raised-button [mdMenuTriggerFor]="byDate">
      <md-icon>sort</md-icon>
      Sort by Date
  </button>
  <md-menu #byDate="mdMenu">
      <button md-menu-item (click)="orderByDateDesc()">
        <md-icon>arrow_upward</md-icon>
        <span>Sort Ascending</span>
      </button>
      <button md-menu-item (click)="orderByDateAsc()">
        <md-icon>arrow_downward</md-icon>
        <span>Sort Descending</span>
      </button>
  </md-menu>
  <button md-raised-button [mdMenuTriggerFor]="create">
      <md-icon>add</md-icon>
      Create
  </button>
  <md-menu #create="mdMenu">
      <button md-menu-item *ngIf="isAuthenticated()" routerLink="/recipes/create">
        <md-icon>add_circle_outline</md-icon>
        <span>Create Recipe</span>
      </button>
      <button md-menu-item *ngIf="isAuthenticated()" routerLink=".">
        <md-icon>add_circle_outline</md-icon>
        <span>Create Activity</span>
      </button>
  </md-menu>
</div>