<h2>Create New Workout</h2>
<form class="workout-form" #carAddForm="ngForm" (ngSubmit)="onSubmit()">
  <md-input-container class="form-control">
    <input type="text" mdInput placeholder="Title" name="title" [(ngModel)]="workout.title" 
      [formControl]="titleFormControl" required>
    <md-icon mdSuffix>mode_edit</md-icon>
    <md-error *ngIf="titleFormControl.hasError('pattern')">
      Please enter a valid title.
    </md-error>
    <md-error *ngIf="titleFormControl.hasError('required')">
      Title is <strong>required</strong>
    </md-error>
  </md-input-container>
  <md-select placeholder="Choose Routine" class="form-control" multiple name="routine" [(ngModel)]="workout.routines" [formControl]="routinesFormControl" required>
    <md-option *ngFor="let routine of getAvailableRoutines()" [value]="routine">
      {{routine}}
    </md-option>
  </md-select>
  <md-input-container class="form-control">
    <textarea mdInput placeholder="Short Description" name="description" #description maxlength="256" [(ngModel)]="workout.description" [formControl]="descriptionFormControl" required></textarea>
    <md-hint align="end">{{description.value.length}} / 256</md-hint>
    <md-error *ngIf="descriptionFormControl.hasError('pattern')">
      Please enter a valid description.
    </md-error>
    <md-error *ngIf="descriptionFormControl.hasError('required')">
      Description is <strong>required</strong>
    </md-error>
  </md-input-container>
  <button type="submit" md-raised-button>Create Workout</button>
</form>
<app-create-routine></app-create-routine>
