button {
    font-size: 14px;
    margin: 0 10px;
    border-radius: 5px;
}

.activities-container {
    margin: 50px;
    border: solid 2px #636363;
    overflow: hidden;
    font-size: 18px;
    width: 60%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #636363;
}

a:hover {
    text-decoration: underline;
}

md-icon{
      color: #636363;
}