<div class="sort-control">
    <button (click)="orderByNameAcs()" md-raised-button>Sort by title Ascending</button>
    <button (click)="orderByNameDesc()" md-raised-button>Sort by title Descending</button>
</div>
<md-card *ngFor="let activity of activities" class="activities-container">
    <img md-card-image src="{{activity.image}}" alt="activity-image">
    <md-card-content>
        <h3><a routerLink='/activities/{{activity.id}}'>{{activity.title}}</a></h3>
        <p class="createdOn">
            <span>{{activity.createdOn | date}}</span>
        </p>
        <p>
            <span>{{activity.description}}</span>
        </p>
    </md-card-content>
    <md-card-actions>
        <button md-button>
        <md-icon>thumb_up</md-icon>
        Like
    </button>
        <button md-button>
         <md-icon>favorite</md-icon>
        Add to Favorites
    </button>
    </md-card-actions>
</md-card>