<div class="logo">
    <a routerLink="/"><img src="/assets/images/logo.jpg" alt="logo"></a>
</div>
<ul>
    <li>
        <a md-button routerLink="/">Home</a>
    </li>
    <li>
        <button md-button [mdMenuTriggerFor]="food">Food</button>
        <md-menu #food="mdMenu">
            <a md-menu-item routerLink="recipes/all">Recipes</a>
            <a md-menu-item routerLink=".">Nutrition</a>
        </md-menu>
    </li>
    <li>
        <button md-button [mdMenuTriggerFor]="fitness">Fitness</button>
        <md-menu #fitness="mdMenu">
            <a md-menu-item routerLink=".">Workouts</a>
            <a md-menu-item routerLink="activities/all">Activities</a>
        </md-menu>
    </li>
    <li>
        <button routerLink="sign-in" *ngIf="!isAuthenticated()" md-button>Sign In</button>
        <button routerLink="sign-up" *ngIf="!isAuthenticated()" md-button>Sign Up</button>
        <button (click)="signOut()" *ngIf="isAuthenticated()" md-button>Logout</button>
    </li>
</ul>