<div class="logo">
    <a routerLink="/"><img src="/assets/images/logo.jpg" alt="logo"></a>
</div>
<ul>
    <li>
        <a md-button routerLink="/">
            <md-icon>home</md-icon>
            Home
        </a>
    </li>
    <li>
        <button md-icon-button [mdMenuTriggerFor]="food">
            <md-icon>menu</md-icon>
            Food
        </button>
        <md-menu #food="mdMenu">
            <a md-menu-item routerLink="recipes/all">
                <md-icon>subject</md-icon>
                Recipes
            </a>
            <a md-menu-item routerLink=".">
                <md-icon>subject</md-icon>
                Nutrition
            </a>
        </md-menu>
    </li>
    <li>
        <button md-button [mdMenuTriggerFor]="fitness">
            <md-icon>menu</md-icon>
            Fitness
        </button>
        <md-menu #fitness="mdMenu">
            <a md-menu-item routerLink=".">
                <md-icon>subject</md-icon>
                Workouts
            </a>
            <a md-menu-item routerLink="activities/all">
                <md-icon>subject</md-icon>
                Activities
            </a>
        </md-menu>
    </li>
    <!-- <li *ngIf="isAuthenticated()">
        <a md-button routerLink=".">
            <md-icon>person</md-icon>
            Profile
        </a>
    </li> -->
    <li>
        <div id="current-user">
            <img *ngIf="!userProfileImageUrl" src="../../../assets/images/default-profile.png" width="50px" height="50px" alt="">
            <!-- <img [src]=getCurrentUserProfileImage() width="50px" height="50px" alt=""> -->
            {{getCurrentUserDisplayName()}} 
        </div>
    </li>
    <li>
        <button routerLink="user/sign-in" *ngIf="!isAuthenticated()" md-raised-button>Sign In</button>
        <button routerLink="user/sign-up" *ngIf="!isAuthenticated()" md-raised-button>Sign Up</button>
        <button (click)="signOut()" *ngIf="isAuthenticated()" md-raised-button>Logout</button>
        <button (click)="getCurrentUserProfileImage()" md-raised-button>test</button>
    </li>
</ul>