<form [formGroup]="userForm">
    <md-grid-list cols="2" rowHeight="8:1">
        <md-grid-tile>
            <md-input-container class="user-input">
              <input mdInput [(ngModel)]="firstName" placeholder="First Name" [formControl]="firstNameFormControl">
              <md-error *ngIf="firstNameFormControl.hasError('pattern')">
                Please enter a valid first name
              </md-error>
              <md-error *ngIf="firstNameFormControl.hasError('required')">
                First name is <strong>required</strong>
              </md-error>
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile>
              <md-input-container class="user-input">
                  <input mdInput [(ngModel)]="username" placeholder="Username" [formControl]="usernameFormControl">
                  <md-error *ngIf="emailFormControl.hasError('pattern')">
                    Please enter a valid username
                  </md-error>
                  <md-error *ngIf="emailFormControl.hasError('required')">
                    Username is <strong>required</strong>
                  </md-error>
                </md-input-container>
              </md-grid-tile>

              <md-grid-tile>
                  <md-input-container class="user-input">
                    <input mdInput [(ngModel)]="lastName" placeholder="Last Name" [formControl]="lastNameFormControl">
                    <md-error *ngIf="lastNameFormControl.hasError('pattern')">
                     Please enter a valid last name
                    </md-error>
                    <md-error *ngIf="lastNameFormControl.hasError('required')">
                      Last name is <strong>required</strong>
                    </md-error>
                  </md-input-container>
                </md-grid-tile>

        <md-grid-tile>  
          <md-input-container class="user-input">
            <input mdInput [(ngModel)]="email" placeholder="Email" [formControl]="emailFormControl">
            <md-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter a valid email address
            </md-error>
            <md-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </md-error>
          </md-input-container>
        </md-grid-tile>

        <md-grid-tile>
            <md-checkbox formControlName="isTrainerFormControl" [(ngModel)]="isTrainer">Are you trainer?</md-checkbox>
            <div class="question-info" *ngIf="isTrainer">
              <md-input-container class="user-input">
                <input mdInput [(ngModel)]="sport" placeholder="Sport" [formControl]="sportFormControl">
                <md-error *ngIf="emailFormControl.hasError('pattern')">
                  Please enter a valid sport
                </md-error>
                <md-error *ngIf="emailFormControl.hasError('required')">
                  Sport is <strong>required if you are trainer</strong>
                </md-error>
              </md-input-container>
            </div>
        </md-grid-tile>

        <md-grid-tile>
          <md-input-container class="user-input">
              <input type="password" mdInput [(ngModel)]="password" placeholder="Password" [formControl]="passwordFormControl">
              <md-error *ngIf="emailFormControl.hasError('pattern')">
                Please enter a valid password
              </md-error>
              <md-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
              </md-error>
          </md-input-container>
        </md-grid-tile>

        <md-grid-tile>
          <div class="upload">
            <div *ngIf="upload">
              Selected photo: {{upload?.name}}
            </div>
            <button type="button" md-raised-button (click)="imgFileInput.click()">Add a photo</button>
            <input hidden type="file" #imgFileInput (change)="detectFile($event)" />
          </div>
        </md-grid-tile>

            <md-grid-tile colspan=2>
                <button md-button type="submit" class="button" [disabled]="!userForm.valid" (click)='signUp()'>Sign Up</button>
            </md-grid-tile>
      </md-grid-list>
</form>